@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

:root {
  --light-red: hsl(0, 100%, 67%);
  --orangey-yellow: hsl(39, 100%, 56%);
  --green-teal: hsl(166, 100%, 37%);
  --cobalt-blue: hsl(234, 85%, 45%);
  --light-slate-blue: hsl(252, 100%, 67%);
  --light-royal-blue: hsl(241, 81%, 54%);
  --violet-blue: hsla(256, 72%, 46%, 1);
  --persian-blue: hsla(241, 72%, 46%, 0);
  --white: hsl(0, 0%, 100%);
  --pale-blue: hsl(221, 100%, 96%);
  --light-lavender: hsl(241, 100%, 89%);
  --dark-gray-blue: hsl(224, 30%, 27%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Hanken Grotesk', sans-serif;
}

body p {
  font-size: 18px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}


main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.r-container {
  height: 380px;
  width: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  padding: 30px;
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
  color: var(--white);
  gap: 20px;
  text-align: center;
}

.r-container__title {
  color: var(--light-lavender);
}

.r_container__circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 2.5rem;
  font-size: 42px;
  background: linear-gradient(var(--violet-blue), var(--persian-blue));
}

.small {
  color: var(--light-lavender);
  font-size: 12px;
}

.r-container p {
  text-align: center;
  font-size: 15px;
  color: var(--light-lavender);
}

.s-container {
  display: flex;
  flex-direction: column;
  height: 380px;
  width: 280px;
  border-radius: 0px 30px 30px 0px;
  justify-content: center;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.s-container-card-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  gap: 20px;
}

.s-container__title {
  margin-bottom: 15px;
}

.s-container-card {
  color: var(--light-lavender);
  display: flex;
  border-radius: 10px;
  background-color: var(--pale-blue);
  padding: 10px;
  justify-content: space-between;
  gap: 10px;
}

.s-container-card-img-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.bold {
  color: black;
  font-weight: bold;
}

.reaction {
  color: var(--light-red);
}

.memory {
  color: var(--orangey-yellow);
}

.verbal {
  color: var(--green-teal);
}

.visual {
  color: var(--cobalt-blue);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button a {
  text-decoration: none;
  background-color: var(--dark-gray-blue);
  color: var(--white);
  padding: 10px 80px;
  border-radius: 30px;

}

.button a:hover {
  background: linear-gradient(var(--light-slate-blue), var(--light-royal-blue));
}

@media (max-width: 375px){
  main{
    flex-direction: column;
  }
  .r-container{
    height: auto;
    width: auto;
  }
  .s-container{
    height: auto;
    width: 100vw;
  }
  .s-container-card-wrapper{
    height: auto;
  }
  .r-container__title{
    padding-top: 50px;
  }
  .attribution{
    display: none;
  }
  .button a{
    padding: 10px 100px;
  }
}

